.container{
  max-width:1200px;
  width:100%;
  padding:20px;
  margin:auto;
}
h2.headline{
  font-size: 56px;
  font-weight: 600;
  margin:0px;
}
h3.subhead {
  font-size: 28px;
  font-weight: 400;
}